.cex-but:hover {
    color: black;
    scale: 1.15;

    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}

.cex-but:hover::before {
    scale: 3;
}

.showcase > section > div:hover .cd {
    scale: 1.1;
}

.nav-toggle:checked~.links {
    display: none;
}


/* Animation Vars */
 
@keyframes appearabove {
    from {
        transform: translateY(100px) scale(0);
    }

    to {
        transform: translateY(0) scale(1);
    }
}


/* Animation Initiator */


.appear-scale {
    animation: appearabove 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   
    timeline-trigger: --appearabove-trigger view();
    animation-trigger: --appearabove-trigger play-once none;
}

/* Medias */

@media screen and (min-width: 768px) {
    .links a:hover {
        background-color: var(--main-color);
        color: black;
    }
}

@media screen and (max-width: 768px) {
    .links a:hover::before {
        transform: scaleX(1);
    }

    .links a:hover {
        color: black;
        padding-left: 20%;

        z-index: 2;
        backdrop-filter: blur(15px);
    }

}

@media (pointer: coarse) and (hover: none) {

}